/***
 * AutoEdit class create by ZhangLiwei at 8:07
**/
.AutoEdit {
	border:1px solid #eee;
	.prevContainer{
		position: relative;
	}
	textarea{
		border:0;
		resize: none;
		display: block;
		width:100%;
		outline: none;
		line-height:24px;
		font-size: 16px;
		min-height: 200px;
	}
	.prev{
		min-height: 200px;
	}
	.toolbar{
		min-height: 20px;
		background: #F6F6F6;
		border-top: 1px solid #EEE;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		& > i{
			color:#333;
			cursor:pointer;
			margin:0 4px;
		}
	}
}